<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<context:property-placeholder location="application.properties" />
    
	<context:component-scan base-package="com.trinary" />
 	<context:annotation-config />
	
 	<bean id="player" class="com.trinary.vlc.AFTVPlayerImpl" scope="prototype" />
 	<bean id="restTriggerService" class="com.trinary.vlc.RESTTriggerServiceImpl">
 		<property name="protocol" value="${player.backend.protocol}" />
 		<property name="hostname" value="${player.backend.hostname}" />
 		<property name="port" value="${player.backend.port}" />
 		<property name="publishUriTemplate" value="${player.backend.publish.uriTemplate}" />
 		<property name="createUriTemplate" value="${player.backend.create.uriTemplate}" />
 	</bean>
</beans>